extends ../node_modules/jade-bootstrap/_bootstrap
head
    title=title
block body
    +navbar("SWEN303", "dropdown_menu")
        +nav_item("/", "active") Home
        +nav_item("/browse") Browse

    .container
        form(action='/submit?path=' + path, method='post')
            textarea(name = 'text', style= "height:300px; width:100%") #{search_result}
            button.btn.btn-large(type="submit") Submit
